*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 100px;
    gap: 50px;
    cursor: pointer;
    align-items: center;
}