* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.lists {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.lists:hover {
    box-shadow: 0px 0px 3px lightgray;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 100px;
    gap: 50px;
    cursor: pointer;
    align-items: center;
}

.bigFont {
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    height: 84vh;
    padding: 80px;
    letter-spacing: 5px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    gap: 50px;
    height: 100vh;
    background: linear-gradient(135deg, #d4d4d4, white);
    color: #000000;
    flex-wrap: wrap;
}

.profPar {
    padding-block: 10px;
    line-height: 120%;
}

.name {
    font-size: 130%;
    font-weight: bold;
}

.Footer {
    width: 100%;
    background: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.allProf {
    width: 350px;
}

.githubLink {
    text-decoration: none;
    color: black;
}

.githubLink:hover {
    text-decoration: underline;
}