@font-face {
    font-family: 'font';
    src: url(../font/static/PlaywriteAUSA-Regular.ttf);
}

button {
    font-family: 'font';
}

body {
    font-family: 'font';
    text-align: center;
}

.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: clamp(400px, 90%, 300px);
    margin: 0 auto;
}